<div class="row">
   <div class="form-container">
    <form action="" method="post" enctype="multipart/form-data" class="Admin-login">
        <h1 style="text-align: center">Login</h1>
        <div class="input-field">

            <input type="email" name="email" placeholder="@email" maxlength="50" required class="box">
        </div>

        <div class="input-field">

            <input type="password" name="pass" placeholder="@password" maxlength="50" required class="box">
        </div> 
        <button type="submit" class="btn" style="background-color:#6fb9fa;border-radius: 50px; color: #fff;">Login</button>
        <hr >
    </form>
</div>  
</div>