<div class="row"></div>
    
<div class="row mt-5">
        <h1 class="justify-content-center"> Menu and Delivery</h1> <hr>
    <div class="col-3">
        <div class="card" style="width: 20rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr80f_i5AiWryliBoVlwyemFU6C1_MuUMR0Q&s" class="card-img-top" alt="Mpic2">
        <div class="card-body">
          <h5 class="card-title">Weak Cat</h5>
          <p class="card-text">อร่อยนะ ขอบอก</p>
        </div>
        <div class="card-body">
            <a href="https://youtu.be/ZW6u9Jy1aUI?si=x2_F_sZsZTNN9-U-" class="card-link" target="_blank">สั่งเลย!</a>
            <a href="https://youtu.be/ZW6u9Jy1aUI?si=x2_F_sZsZTNN9-U-" class="card-link" target="_blank">ใส่ตะกร้า</a>
            </div>
        </div>
    
        <div class="card mt-3" style="width: 20rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbhNX2JN8eCqDEDkuN33jTXL7Uq-gEq0jMgA&s" class="card-img-top" alt="Mpic2">
        <div class="card-body">
          <h5 class="card-title">Strong Cat</h5>
          <p class="card-text">อร่อยนะ ขอบอก</p>
        </div>
        <div class="card-body">
          <a href="https://youtu.be/CwPXK9iqg9w?si=v4PGAp-XsYAFkxwQ" class="card-link" target="_blank">สั่งเลย!</a>
          <a href="https://youtu.be/CwPXK9iqg9w?si=v4PGAp-XsYAFkxwQ" class="card-link" target="_blank">ใส่ตะกร้า</a>
            </div>
        </div></div>
    <div class="col-3">
    <div class="card" style="width: 20rem;">
    <img src="https://images.aws.nestle.recipes/original/a328dadc541bdb9c0e90752a46b55404_stir-fired-chicken-_with-oyster-sauce.jpg" class="card-img-top" alt="Mpic1">
    <div class="card-body">
      <h5 class="card-title">หมูผัดไก่</h5>
      <p class="card-text">อร่อยนะ ขอบอก</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">สั่งเลย!</a>
      <a href="#" class="card-link">ใส่ตะกร้า</a>
        </div>
    </div>
    <div class="card mt-3" style="width: 20rem;">
        <img src="https://scontent.futp2-1.fna.fbcdn.net/v/t39.30808-6/309239102_609311590673276_4970823577659937484_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeH37eXVMJgCXhqBKIszsoye7kfzynmtmi3uR_PKea2aLTyShVG_otGWYwuPKm6ufSVvwPMYbcepp3FU8H6JJ_DN&_nc_ohc=JXZpcN8uxRkQ7kNvgEfKFon&_nc_ht=scontent.futp2-1.fna&oh=00_AYB_khIxLZ8Zq8sVhCn0hZv1Zg8TKPKl048S9HcsrzNlDA&oe=66E1248D" class="card-img-top" alt="Mpic1">
        <div class="card-body">
          <h5 class="card-title">แมวนึ่งมะแนว</h5>
          <p class="card-text">อร่อยนะ ขอบอก</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">สั่งเลย!</a>
          <a href="#" class="card-link">ใส่ตะกร้า</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 20rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8SCvucuIEiTDvXLy7tmmHC8V43KqaodDVCA&s" class="card-img-top" alt="Mpic2">
        <div class="card-body">
          <h5 class="card-title">Kiwi</h5>
          <p class="card-text">อร่อยนะ ขอบอก</p>
        </div>
        <div class="card-body">
          <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">สั่งเลย!</a>
          <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">ใส่ตะกร้า</a>
            </div>
        </div>
    
        <div class="card mt-3" style="width: 20rem;">
        <img src="https://i.pinimg.com/474x/5e/51/e8/5e51e88b9ec329e2b030cd4aeb28b431.jpg" class="card-img-top" alt="Mpic2">
        <div class="card-body">
          <h5 class="card-title">Strong Kiwi</h5>
          <p class="card-text">อร่อยนะ ขอบอก</p>
        </div>
        <div class="card-body">
          <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">สั่งเลย!</a>
          <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">ใส่ตะกร้า</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 20rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8SCvucuIEiTDvXLy7tmmHC8V43KqaodDVCA&s" class="card-img-top" alt="Mpic2">
            <div class="card-body">
              <h5 class="card-title">Kiwi</h5>
              <p class="card-text">อร่อยนะ ขอบอก</p>
            </div>
            <div class="card-body">
              <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">สั่งเลย!</a>
              <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">ใส่ตะกร้า</a>
                </div>
            </div>
        
            <div class="card mt-3" style="width: 20rem;">
            <img src="https://i.pinimg.com/474x/5e/51/e8/5e51e88b9ec329e2b030cd4aeb28b431.jpg" class="card-img-top" alt="Mpic2">
            <div class="card-body">
              <h5 class="card-title">Strong Kiwi</h5>
              <p class="card-text">อร่อยนะ ขอบอก</p>
            </div>
            <div class="card-body">
              <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">สั่งเลย!</a>
              <a href="https://youtu.be/UBa31aKmmDc?si=0X00GckmgP3eytEu" class="card-link" target="_blank">ใส่ตะกร้า</a>
                </div>
            </div>
    </div>
</div>